body {
  background: honeydew;
}
.example {
  background: grey;
  color: white;
  padding: 20px;
}

.definition {
  background: pink;
  padding: 40px 20px 20px;
}

.definition dt {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.definition dd {
  font-style: italic;
  margin-bottom: 20px;
}
